* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

.jumbotron {

	/*border: 1px solid black;*/
	height: 100vh;
	/*background-image: url("../../pic4.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0.4;
*/
	margin-bottom: 0;
	border-radius: 0;
	color: #efefef;
	font-family: 'Raleway', sans-serif;
	text-shadow: 1px 1px 15px #000000;
	background: 
		linear-gradient(
			rgba(17, 126, 112, 0.75),
			rgba(0, 88, 255, 0.45)
			),
		url(../../pic5.jpg);
		background-size: cover;
		background-position: top;
		background-repeat: no-repeat;

}

/*nav {
	background-color: #00A7E1;
}*/

.navbar-custom {
	background-color: #623CEA !important;
}

nav + a {
	color: white;
}

#jumboTitle, #jumboMes {
	letter-spacing: 3px;
}

#aboutUsH1, #galleryH1, #homeH1 {
	text-align: center;
}

#missionPic{
	height: 60%;
	width: 60%;
	/*border: 1px solid black;*/
	margin: 0 auto;
}

#visionPic {
	height: 80%;
	width: 80%;
	margin: 0 auto;
}

.aboutUsDiv {
	/*border: 1px solid black;*/
	/*height: 100;*/
	/*padding: 5%;*/
}

.galPic {
	width: 90%;
	height: 90%;
}

.galDiv {
	/*border: 1px solid black;*/
}

.col-lg-6 {
	/*border: 1px solid black;*/
}

#contactUsPicDiv {
	/*border: 1px solid black;*/
	/*width: 100%;
	height: 40%;
	opacity: 0.4;*/
	/*width: 90%;
	height: 90%;*/
	background-image: url("../../pic8.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	/*background-color: blue;*/

}

#contactUsDiv {
	/*margin-bottom: 50px;*/
	/*border: 1px solid red;*/
}

#contactUsImg {
	width: 100%;
	height: 100%;
}

#contactUsH1 {
	color: #FE654F;
	text-align: center;
	margin-top: 3%;
}

.contactUsParag {
	color: blue;
	text-align: center;
}

#contactUsEmail {
	margin-bottom: 80%;
}

#contactUsFormDiv {
	padding: 5%;
	background-color: #D6EFFF;
}

.icons {
	margin: 2%;
}

i {
	color: grey;
}

#footer {
	/*border: 1px solid black;*/
	padding: 15px;
	background-color: black;
	color: white;

}

.galPic:hover {
	opacity: 0.5;
}

.modal-content {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 700px;
}

#aboutUs {
	
}

#aboutUsH1, #galleryH1, #contactUsH1 {
	color: #2978A0;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 2.75rem;
	margin-bottom: 1rem;
	font-weight: bolder;
}

h2 {
	color: #21646B;
}

h3 {
	color: blue;
}

i {
	color: white;
}

#renne {
	/*border: 1px solid black;*/
	width: 40%;
}

@media only screen and (max-width: 769px) {
	.jumbotron {
		/*height: 100%;
		width: 100%;*/
		height: 100vh;
		margin-top: 56px;
	}

	#visionPicDiv {
		order: 2;
	}

	.aboutUsDiv {
		margin-bottom: 10%;
		padding: 0 5%;
	}

	p {
		line-height: 2;
	}

	#galleryH1 {
		margin-top: 200px;
	}

	.galPic {
		width: 90%;
		height: 90%;
	}

	.col-lg-6 {
		margin-bottom: 35px;
	}

	.modal-content {
	  margin: auto;
	  display: block;
	  width: 100%;
	  max-width: 500px;
	}

	.galPic:hover {
		opacity: 0.5;
	}

}


@media only screen and (min-width: 768px) {
	/*.jumbotron {
		height: 100%;
		width: 100%;
	}*/

	.aboutUsDiv {
		/*padding: 10%;*/
		margin-bottom: 10%;
	}

	p {
		line-height: 2;
	}




}




/*img {
	width: 300px;
	height: 300px;
}*/

/*
.jumbo {
	background-image: url("pic1.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
}*/